<ion-header>
  <ion-toolbar>
    <ion-title>Ingresso do Evento</ion-title>
  </ion-toolbar>
  <ion-content>
    <div class="container">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>Evento</ion-col>
            <ion-col>Qr-code</ion-col>

          </ion-row>
          <div *ngFor="let evento of eventos">
            <ion-radio-group>
              <ion-row>
                <ion-col>
                  {{evento.titulo}
                </ion-col>
                <ion-col>
                  <img src="{{qrcode}}">
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </div>
        </ion-grid>
      </ion-item>
    </div>
  </ion-content>
  <ion-footer>
  </ion-footer>