<ion-content>
  <div style="display: flex; justify-content: center;">
    <ion-item>
      <img style="max-width:200px; max-height:150px; width: auto; height: auto;" src="./assets/img/login.png">
    </ion-item>
  </div>
  <div style="display: flex; justify-content: center;">
    <ion-item style="width: 250px;">
      <ion-label style="font-family: calibri;">
        <b>Efetue login para prosseguir!</b>
      </ion-label>
    </ion-item>
  </div>
  <div style="display: flex; justify-content: center;">
    <ion-item style="width: 300px;">
      <ion-label position="floating">Email</ion-label>
      <ion-input placeholder="email@example.com"></ion-input>
    </ion-item>
  </div>
  <div style="display: flex; justify-content: center;">
    <ion-item style="width: 300px;">
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" placeholder="*****"></ion-input>
    </ion-item>
  </div>
  <div style="display: flex; justify-content: center;">
    <ion-button style="width: 200px;" type="submit"  (click)="acessar()">
      Acessar
    </ion-button>
  </div>
</ion-content>
