<ion-header>
  <ion-toolbar>
    <ion-title>Inscrição</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #partiForm="ngForm" autocomplete="off" (ngSubmit)="gravarInscricao(partiForm)">
    <ion-card *ngIf="evento.codEvento">
      <ion-card-header>
        <ion-card-title>{{evento.titulo}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        O Evento terá início no dia {{evento.periodoInicial|date:'dd/MM/yyyy'}} com término no dia
        {{evento.periodoInicial|date:'dd/MM/yyyy'}}.
        <br>
        <br>
        <b>Atividades</b>
        <br>
        Selecione as atividades que você irá participar
        <ion-list>

          <ion-item *ngFor="let atividade of evento.atividades">
            <ion-label>
              <h2>
                <ion-icon name="information-circle-outline"></ion-icon> {{atividade.titulo}}
              </h2>
              <h3>
                <ion-icon name="calendar-outline"></ion-icon> Início {{atividade.dataInicio|date:'dd/MM/yyyy - hh:mm'}}
              </h3>
              <h3>
                <ion-icon name="calendar-outline"></ion-icon> Fim {{atividade.dataFim|date:'dd/MM/yyyy - hh:mm'}}
              </h3>
              <ion-icon name="location-outline"></ion-icon> {{atividade.localizacao}}
            </ion-label>
            <ion-checkbox checked (ionChange)="desmarcaAtvidade(atividade.codAtividade)"></ion-checkbox>
          </ion-item>
        </ion-list>

      </ion-card-content>
      <ion-item *ngIf="evento.codEvento">
        <ion-button type="submit">
          Finalizar
        </ion-button>
      </ion-item>
    </ion-card>

  </form>
</ion-content>