<ion-header>
  <ion-toolbar>
    <ion-title>Pesquisa de Participante</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <ion-item>
      <ion-label> Buscar Participante:</ion-label>
      <ion-input placeholder="Ex: Carlos Zorzo"></ion-input>
      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
        Buscar
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col> Nome</ion-col>
          <ion-col class="ion-align-self-start">E-mail</ion-col>
          <ion-col class="ion-align-self-start">CPF</ion-col>
          <ion-col class="ion-align-self-start">Telefone</ion-col>
          <ion-col size-sm>Opções</ion-col>
        </ion-row>
        <div *ngFor="let participante of participante">
          <ion-radio-group>
            <ion-row>
              <ion-col>
                {{participante.nome}}
              </ion-col>
              <ion-col class="ion-align-self-start">
                {{participante.email}}
              </ion-col>
              <ion-col class="ion-align-self-start">
                {{participante.cpf}}
              </ion-col>
              <ion-col class="ion-align-self-start">
                {{participante.telefone}}
              </ion-col>
              <ion-col size="1" size-sm>
                <ion-button (click)='eventoParticipado(participante.cpf)'>
                  <ion-icon name="pencil-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-radio-group>
        </div>
      </ion-grid>
    </ion-item>
  </div>
</ion-content>
<ion-footer>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>